docker.enabled = true
cloud.autoscale.enabled = true
      
process {
  cpus = 2
  executor = 'ignite'
  region = 'eu-west-2'
}

params {
  skip_masking = true
  skip_gwas_filtering = true
  skip_bgen_creation = true
  skip_report = true
  gwas_2_spa_tests_format_switch = true
  plink_set_missing_var_ids = '@:#_\$r_\$a'
  plink_output_chr = 'chrM'
  plink_new_id_max_allele_len = 1000
  plink_vcf_half_call = 'm'
  vcfsList = false
  plinkFile = false
  phenoFile = false
  phenoCol = false
  sampleFile = false
  qFilter = '0.005:minor'
  thres_m = 0.00001
  thres_HWE = 0.000001
  plink_keep_pheno = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/nodata"
  sampleIDColinphenoFile = 'IID'
  traitType = 'binary'
  saigeStep1ExtraFlags = "--LOCO=FALSE"
  outdir = 'results'
  gwas_cat = 's3://lifebit-featured-datasets/projects/gel/gel-gwas/gwascat.csv'
  output_tag = 'covid_1'
  top_n_sites = 200
  max_top_n_sites = 1000
  saige_filename_pattern = '.SAIGE.gwas.txt'
}

process {
    container = 'lifebitai/gelgwas:1.0dev'

  withName: gwas_1_fit_null_glmm {
    container = 'wzhou88/saige:0.39'
  }
  withName: bgen_creation {
    container = 'quay.io/lifebitai/bgenix'
  }  
  withName: gwas_2_spa_tests_vcf {
    container = 'wzhou88/saige:0.39'
  }
  withName: gwas_2_spa_tests_bgen {
    container = 'wzhou88/saige:0.39'
  }
}
